* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flame-input {
  position: fixed;
  top: 16px;
  left: 16px;
  color: white;
  border: solid white;
  border-width: 0 0 2px;
  padding: 0 0 8px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  background: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: calc(100% - 32px);
}

.flame-input:focus {
  outline: none;
}

.flame-input::-webkit-input-placeholder {
  color: white;
  opacity: .5;
}
